attrs==19.3.0
Click==7.0
cycler==0.10.0
Flask==1.1.1
Flask-Assets==2.0
h5py==2.10.0
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
jsonpickle==1.2
jsonschema==3.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
more-itertools==8.1.0
numpy==1.18.1
pandas==0.25.3
pickleDB==0.9.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
PyYAML==5.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
tinydb==3.15.2
webassets==2.0
Werkzeug==0.16.0
zipp==0.6.0
